<h1 align="center">Welcome to Chitter</h1>
<form align="center" action="/signup" method="get">
  <input type="submit" value="Sign up">
</form>
<br>
<div align="center">
<form action="/peep" method="post">
  <input type="text" name="message" placeholder="enter message here">
  <input type="submit" value="Submit">
</form>
<br>
</div>

<div align="center">
<h3>Peeps</h3>
<ul>
  <% @peeps.reverse.each do |peep| %>
    <h6>
        <%= "#{peep.message} created at #{peep.created_at.strftime("%F %T")}" %>
    </h6>
  <% end %>
</ul>
</div>
