<form action="/credentials" method="post" align="center">
  <input type="text" name="username" placeholder="enter username here">
  <input type="text" name="password" placeholder="enter password here">
  <input type="submit" value="Submit">
</form>
